
.inputWidth{width: 180px !important;}

.purpleBtn{color: #9900CC;background: #EACAF4;border-color: #CC99FF;}
.purpleBtn:hover{background:#9900CC !important;color:white !important;border-color: #CC99FF !important;}
.purpleBtn:focus{background:#9900CC !important;color:white !important;border-color: #CC99FF !important;}
.purpleBtn:active{background:#8716ac !important;color:white !important;border-color: #CC99FF !important;}

.react{display: inline-block;align-self: center;width: 3px;height: 22px;background: #3A9EA1;margin-right: 10px;}

//超出1行/2行显示...，前提：盒子设置宽度,px，百分比都可以
.ellipsis1{overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.ellipsis2{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;}

//padding相关
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px ;}

.pl-10{padding-left: 10px ;}
.pl-20{padding-left: 20px ;}
.pl-15{padding-left: 15px ;}

.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-25{padding-bottom: 25px;}

.pt-20{padding-top: 20px;}
.pt-10{padding-top: 10px;}

.p-20{padding:20px}
.p-15{padding:15px}
.p-10{padding:10px}
.p-5{padding:5px}

//margin相关
.mr-20{margin-right: 20px !important;}

.ml-10{margin-left: 10px;}

.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}

.m-20{margin: 20px}
.m-10{margin: 10px}
.m-5{margin: 5px}


//font-size相关
.font-12{font-size: 12px !important;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px !important;}
.font-18{font-size: 18px !important;}
.font-20{font-size: 20px !important;}
.font-24{font-size: 24px;}
.font-32{font-size: 32px;}
.font-bold{font-weight: bold;}
.font-italic{font-style: italic;}

//flex相关
.flex-align-center{display: flex;align-items: center;}
.flex-end{display: flex;justify-content: flex-end;}
.flex-align-center-warp{display: flex;align-items: center;flex-wrap: wrap;}
.flex-center{display: flex;align-items: center; justify-content: center;}
.flex-column-center{display: flex;align-items: center; justify-content: center; flex-direction: column;}
.flex-justify-around{display: flex;align-items: center; justify-content: space-around;flex-wrap: wrap;}
.flex-justify-between{display: flex;align-items: center; justify-content: space-between;flex-wrap: wrap;}
.flex-justify-between-column{display: flex;flex-direction: column; align-items: center; justify-content: space-between;flex-wrap: wrap;}
.flex-justify-between-noalign{display: flex; justify-content: space-between;flex-wrap: wrap;}
.flex-center-wrap{display: flex;align-items: center; justify-content: center;flex-wrap: wrap;}

//border相关
.br-10{border-radius: 10px}
.br-8{border-radius: 8px}

//
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}



